h1 {
  color: brown;
  /* text-align: center; */
  font-style: italic;
  text-align: center;
}
p {
  font-family: times new roman;
}
body{
  /* background-image:url("images/goldenretriever.jpeg" alt="image of a golden retriever"); */
background-image:url("https://bit.ly/377px0O");
background-repeat: no-repeat;
background-size: 100% 100%;
/* overflow: hidden; */
}
p{
  color:white;
}
