h1 {
  color: brown;
  text-align: center;
  font-style: italic;
  text-align: center;
}
h3 {
  color: grey;
  font-style: oblique;
p {
  font-family: times new roman;
  }
  ul {
  line-height: 40px;
}
